.place__title {
  grid-area: title;
  font-weight: 900;
  font-size: 73px;
  line-height: 76px;
  margin: 0;
}

@media  screen and (max-width: 1023px) {
  .place__title {
    font-size: 44px;
    line-height: 46px;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    padding: 0 16px;
  }
}