.header {
  max-width: 1184px;
  margin: 28px auto 55px;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
    margin: 28px auto 48px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
    margin: 28px auto 48px;
  }
}
  
@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
    margin: 18px auto 48px;
  }
}