.place__url-heading {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  color: #AAAAAA;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 0; 
}

@media screen and (max-width: 767px) {
  .place__url-heading {
    margin-left: 16px;
  }
}