.place__website {
  display: grid;
  align-self: end;
  grid-area: web;
  row-gap: 12px;
}

@media (min-width:320px) and (max-width:767px){
  .place__website {
    max-width: 288px;
    margin: 0 16px;
  }
}